.app__header {
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%; /* Đẩy nội dung vào trong một chút */
    flex-wrap: wrap;
}

.app__header-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding-left: 2rem; /* Đẩy nội dung bên trái vào */
}

.app__header-subtitle p {
    font-family: var(--font-cormorant);
    font-size: 20px;
}

.app__header-subtitle img {
    width: 60px;
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 90px;
}

.app__header-text {
    margin: 2rem 0;
    font-size: 18px;
    line-height: 1.6;
}

.app__header-button {
    background-color: var(--color-golden);
    color: black;
    padding: 0.8rem 2rem;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.app__header-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.app__header-img img {
    width: 90%; /* Làm ảnh lớn hơn */
    max-width: 600px; /* Giới hạn kích thước tối đa */
}

/* Responsive */
@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header {
        flex-direction: column;
        align-items: center;
    }

    .app__header-info {
        padding-left: 0;
        align-items: center;
        text-align: center;
    }

    .app__header-h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 70px;
        line-height: 87px;
    }

    .app__header-img img {
        width: 100%; /* Điều chỉnh hình ảnh để phù hợp với màn hình nhỏ */
    }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 50px;
        line-height: 70px;
    }
}
